{% extends 'analytics/base.html' %}
{% load static %}

{% block content %}
<h2>Income & Expenses</h2>

<form method="POST" action="/add_expense">
    {% csrf_token %}
    
    <input type="text" name="description" placeholder="Description" required>
    <input type="number" name="amount" placeholder="Amount" required>

    <select name="category">
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
    </select>

    <button type="submit">Add</button>
</form>

{% endblock %}